.floatingBtn {
  position: relative; /* keep relative since container handles fixed pos */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  cursor: pointer;
  
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.floatingBtn:hover {
  transform: scale(1.1);
}

.scrollTopBtn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-weight: 300;
  background-color: #202020;
  z-index: 9;;
}


.floatingRight {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 9;
}


.whatsappBtn {
  background-color: #25d366;
}


.enquiryBtn {
  background-color: #c44e00;
}
