.topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 250px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  border-bottom: 1px solid rgba(255, 255, 255, 0.295);
  margin: 0 auto;
}

.left span {
  margin-right: 20px;
  font-weight: 500;
  transition: color 0.3s;
}

.left span:hover {
  color: rgb(255, 115, 0); /* Emerald hover */
}

.right {
  display: flex;
  align-items: center;
}

.right select {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 6px 10px;
  color: #fff;
  font-weight: 500;
  margin-right: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: border-color 0.3s, color 0.3s;
}

.right select:hover {
  border-color: rgb(255, 115, 0); /* Emerald */
  color: rgb(255, 115, 0);
}

.right select option {
  color: #000; /* dropdown text */
}

.searchBtn {
  background: transparent;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

.searchBtn:hover {
  color: rgb(255, 115, 0); 
  transform: scale(1.1);
}
.searchOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999999;

  opacity: 0;
  transform: translateY(30px); /* start slightly down */
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.searchOverlay.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}


.closeBtn {
  position: absolute;
  top: 30px; 
  right: 30px; 
  background: none;
  border: none;
  color: #fff; 
  font-size: 2.5rem; 
  cursor: pointer;
  z-index: 10000; 
  transition: color 0.2s ease;
}

.closeBtn:hover {
  color: #ccc;
}

.searchBox {
  display: flex;
  width: 90%;
  max-width: 800px; 
  background-color: transparent; 
  border-bottom: 2px solid #555; 
  padding: 0; 
  height: 50px; 
  align-items: center; 
}

.searchBox:focus-within {
  border-bottom: 2px solid rgb(255, 115, 0); /* highlight on focus */
}

.searchInput {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 1.5rem; 
  padding:  15px; 
  background-color: transparent; 
  color: #fff; }

.searchInput::placeholder {
  color: #888; }



.searchSubmitBtn {
  background-color: transparent; 
  border: none;
  color: #fff; 
  cursor: pointer;
  padding: 0 15px; 
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem; 
  transition: color 0.2s ease;
}

.searchSubmitBtn:hover {
  color: #ccc;
}