.contactPage__wrapper {
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
}

.contactPage__container {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 0rem;
  justify-content: center;
  gap: 3rem;
}

.contactPage__info {
  width: 50%;
  text-align: left;
}

.contactPage__heading {
  font-size: 2.8rem;
  font-weight: 400;
  display: flex;
  justify-content: left;
  color: #046d4d;
  margin-bottom: 30px;
}

.contactPage__text {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  line-height: 2;
}

.contactPage__whatsapp {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #25d366;
  color: white;
  width: fit-content;
  gap: 10px;
  text-decoration: none;
  font-weight: 500;
}

.contactPage__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0 2rem;
}

.contactPage__formRow {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.contactPage__input {
  width: 100%;
  padding: 30px 0px;
  border: none;
  border-bottom: 1px solid #d1d5db;
  font-size: 17px;
  letter-spacing: 1px;
  background-color: transparent;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contactPage__formRow .contactPage__input {
  width: 48%;
}

.contactPage__input:focus,
.contactPage__textarea:focus {
  border-bottom-color: #d35400;
  outline: none;
}

.contactPage__textarea {
  resize: none;
  width: 100%;
  padding: 30px 0px;
  border: none;
  border-bottom: 1px solid #d1d5db;
  font-size: 17px;
  background-color: transparent;
  letter-spacing: 1px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contactPage__submitBtn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 26px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(90deg, #d35400, #d35400);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-top: 25px;
  width: fit-content;
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.9s;
}

.contactPage__submitBtn:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #046d4d, #d35400);
}

.contactPage__ctaIcon {
  font-size: 18px;
  transition: transform 0.3s;
}

.contactPage__submitBtn:hover .contactPage__ctaIcon {
  transform: translateX(6px);
}

.contactPage__map {
  overflow: hidden;
}
